h1 {
    color: white;
    background-color: black;
    text-align: left;
    font-family: monospace;
}
span.cloud {
    color: lightblue;
    background-color: black;
    text-align: left;
    font-family: monospace;
}
h2 {
    color: white;
    background-color: purple;
    text-align: center;
    font-style: italic;
    font-family: monospace;
}
h3 {
    color: rgb(51, 28, 51);
    background-color: lightskyblue;
    text-align: right;
    text-decoration: underline;
    font-family: monospace;
}