.search {
    color: cyan;
    border: 2px solid cyan;
    width: 125px;
    text-align: center;
    border-radius: 15px;
    font-family: monospace;
}
.plus{
    color: white;
    background-color: cyan;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    width: 20px;
}
.createaccount{
    color:white;
    background-color: blue;
    border: 1px solid black;
    width: 105px;
    text-align: center;
    box-shadow: 1px 1px black;
    font-family: monospace;
}